.login-background {
    background: url('../../assets/fundoteste2.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding: 10px 30px;
    flex-direction: column;
    border-radius: 0.5rem;
  }
  
  .form {
    font-size: 17px;
    height: 50%;
  }
  
  img {
    height: 8rem;
  }
  
  .text-h2 {
    font-size: 2.5rem;
    line-height: 1;
  }